.jumbotron {
    /* background-image: linear-gradient(-45deg, cornflowerblue 60%, cornsilk 85%, goldenrod, lightgreen, rebeccapurple); */

    /* background-image: linear-gradient( 190deg, hsl(0, 100%, 50%) -100%, hsl(90, 100%, 50%) ); */

    /* background-image: radial-gradient(circle farthest-corner at 80%, cornflowerblue, cornsilk ); */

    background-image: linear-gradient(to right, #000046 0%, #1CB5E0 50%);
}

.jumbotron-heading {
    font-family: 'Staatliches', cursive;
}

/* .field {
    min-height: 600px;
    background-color: hsl(200, 70%, 50%);

    position: relative;
}

.thing {
    width: 150px;
    height: 150px;
    background-color: hsl(180, 100%, 50%);
    border-radius: 50%;

    position: absolute;

    animation: myAnimation 4s ease-in-out 1s infinite alternate;
} */

.mySun {


    width: 300px;
    height: 300px;

    background: url(sun.svg) no-repeat;
    color: white;
    animation: myAnimation 3s ease-in-out infinite;
    animation-play-state: paused;
    opacity: 50%;
    transition: 0.3s;
}

.mySun:hover {
    animation-play-state: running;
    opacity: 100%;

}

.sunText {

    visibility: visible;

}

.myCloud {


    width: 300px;
    height: 300px;

    background: url(cloud-svgrepo-com.svg) top center no-repeat;
    opacity: 50%;
    transition: 0.3s;
    animation-play-state: paused;
}

.raindrop {
    position: absolute;
    bottom: 100px;
    left: 150px;

    width: 55px;
    height: 120px;
    background: url(drop.svg) top center no-repeat;
    pointer-events: none;
    animation-play-state: paused;
    animation: rainAnimation 3s linear infinite;
}

.myCloud:hover {
    animation-play-state: running;
    opacity: 100%;
}

.raindrop:hover{
    animation-play-state: running; 
}

/* Standard syntax */
@keyframes myAnimation {

    0% {

        transform: rotate(1turn);

    }

    100% {}
}

@keyframes rainAnimation {
    0% {
        transform: translateY(0vh);
    }

    75% {
        transform: translateY(90vh);
    }

    100% {
        transform: translateY(90vh);
    }


}

/* @keyframes myAnimation {
    0% {
        background-color: hsl(80, 100%, 50%);
        left: 0px;
        top: 0px;
    }

    50% {
        background-color: hsl(-40, 100%, 50%);
        
    }

    100% {
        background-color: hsl(80, 100%, 50%);
        left: calc(100% - 150px);
        top: calc(100% - 150px);
    }
} */