/* -------------- NAVBAR STYLE --------------- */


.navbar {
    background-color: #002034 !important;
    border-color: white;
    font-family: 'Solway', serif;
    color: white;
    font-size: 1.2rem;
    min-height: 100px !important;

}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;

    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

}

.navbar-brand {
    color: white;
}

.navbar-light .navbar-toggler {
    color: #004085 !important;
    background: #E6FAFC;
    border-color: #E6FAFC;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.84);
}

.navbar-light .navbar-nav .nav-active {
    color: #ED5537;
}



.navbar-light .navbar-nav .nav-link a:hover {

    opacity: 0.3;
    color: #004085;
    transition: 0.3s;
}






.bg-light {
    color: #E6FAFC;
    background: #E6FAFC;
    border-color: #E6FAFC;

}

/* HR STYLE */
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* -------------- BUTTON STYLE --------------- */

.btn-lg {
    /* background: #ED5537;
    border-color: #ED5537;
    font-family: 'Calistoga', cursive;
    color: white; */

}


.btn-lg:hover {
    /* background: #F0735B;
    border-color: #F0735B;
    color: #ffffff; */

}

.btn-primary {
    color: white;
    background-color: #ED5537;
    border-color: #ED5537;
    font-family: 'Solway', serif;
}

.btn-primary:hover {
    color: #white;
    background-color: #F0735B;
    border-color: #F0735B;
    font-family: 'Solway', serif;
}




.btn-outline-success {
    border-color: orange;
}

.btn-outline-success:hover {
    background-color: orange;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #003286;
    border-color: #65F7BC;
    font-family: 'Solway', serif;
}

.btn-outline-primary {
    color: #003286;
    background-color: #65F7BC;
    border-color: #65F7BC;
    font-family: 'Solway', serif;
}

/* ---------------       ALERT              -------------- */

.alert-primary {
    color: #003286;
    background: #65F7BC;
    border-color: rgb(66, 199, 146);
    font-family: 'Solway', serif;
}

/* ------------------- FEATURETTES -------------------*/
.featurette {
    height: 450px;
    /* align-items: stretch; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* -------------- TYPOGRAPHY STYLE --------------- */
.main-header {
    text-shadow: 2px 2px 10px #484848;
    font-family: 'Calistoga', cursive;

}

.para-header {
    font-family: 'Calistoga', cursive;
    color: rgb(49, 47, 53);
}

/* .h3{
        font-family: 'Calistoga', cursive !important;
} */

.lead {
    font-family: 'Solway', serif;
    color: black;
    font-size: 12pt !important;
}

.para-subheader {
    font-family: 'Be Vietnam', sans-serif;
    color: #7B1F0D;
}

.body {
    font-family: 'Solway', serif;
}

.text-muted2 {
    color: white !important;
}


/* -------------- LOGO STYLE --------------- */

.logo {
    width: 5rem;
}

/* -------------- JUMBOTRON STYLE --------------- */

.jumbotron {
    border-radius: 0;
    margin-bottom: 0;

}

.display-4 {
    font-family: 'Calistoga', cursive;
    text-shadow: 2px 2px 10px #484848;
    color: white;
}

.jumbo-discount{
    width: 21vw;
}

.jumbo-subhead {
    font-family: 'Calistoga', cursive;
    text-shadow: 2px 2px 10px #484848;
    color: white;

}

/* ---------------   CAROUSEL */

.first-slide {
    object-fit: cover;
}

.second-slide {
    object-fit: cover;
}


.third-slide {
    object-fit: cover;
}

/* -------------- CARD STYLE --------------- */
.card-title{
    font-family: 'Calistoga', serif !important; 

}
.card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .4rem;

}

.card-header {
    font-family: 'Solway', serif;
    text-shadow: 2px 2px 10px #484848;
    color: white;
    background: #2E9DDD;
}

.card-body {
    font-family: 'Solway', serif;
    color: black;
    background: rgb(254, 254, 254);
}

.featurette-text {
    height: 120px;
}


.bg-secondary {
    background: #2681B5;
}


/* IMAGE */

.earthimage {

    width: 300px;
}




/* -------------- POPUP MODAL STYLE --------------- */

#popup-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: 'Solway', serif;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-title {
    font-family: 'Solway', serif;
}




/* BREAKPOINT OVERRIDES */

@media (min-width: 576px) .jumbotron {
    padding: 4rem 2rem;
}