.alert-primary {
    color: #0D4993;
    background: #2681B5;
    border-color: #0D4993;
}

.navbar-light .navbar-toggler {
    color: #004085 !important;
    background: #2681B5;
    border-color: #0D4993;
}

.bg-light {
    color: #007bff !important;
    background: #2681B5;
    border-color: #CE3314;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    background-color: #2E9DDD !important;
    border-color: #CE3314;
}

.btn-lg {
    background: #CE3314;
    border-color: #A92A11;
}

.btn-lg:hover{
    background: rgb(255, 89, 56);
    border-color: #CE3314;
}



.logo {
    width: 10rem;
}

.jumbotron {
    border-radius: 0;
}

.main-header {
    text-shadow: 2px 2px 10px #484848;
	font-family: 'Big Shoulders Text', cursive;

}

.jumbo-subhead {
    font-family: 'Be Vietnam', sans-serif;
    text-shadow: 2px 2px 10px #484848;
    color: white;

}

.card-header{
    font-family: 'Be Vietnam', sans-serif !important;
    text-shadow: 2px 2px 10px #484848;
    color: white;
    background: #2E9DDD;
}

.card-pic {
    font-family: 'Be Vietnam', sans-serif;
    width: 100%;
}

.card-body {
    font-family: 'Be Vietnam', sans-serif !important;
    color: white;
    background: #0D4993;
}

.bg-secondary{
    background: #2681B5;
}

.btn-outline-success {
    border-color: orange;
}

.btn-outline-success:hover {
    background-color: orange;
}

.lead-paragraph {
    /* margin: 10px 0; */
    font-family: 'Raleway';
}