.alert-primary {
    color: #004085;
    background-color: rgb(211, 255, 204);
    border-color: #004085;
}

.navbar-light .navbar-toggler {
    color: #004085 !important;
    background-color: rgb(211, 255, 204);
    border-color: #93228e;
}

.bg-light {
    color: #004085 !important;
    background-color: rgb(211, 255, 204);
    border-color: #93228e;
}

.navbar {
    background-color: #3fc1f3 !important;
    border-color: #933319;
}

.logo {
    width: 10rem;
}

.jumbotron {
    border-radius: 0;
}

.main-header {
    text-shadow: 2px 2px #484848;
}