.alert-primary {
    color: #004085;
    background-color: rgb(211, 255, 204);
    border-color: #004085;
}

.navbar-light .navbar-toggler {
    color: #004085 !important;
    background-color: rgb(211, 255, 204);
    border-color: #93228e;
}

.bg-light {
    color: #007bff !important;
    background-color: rgb(211, 255, 204);
    border-color: #93228e;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    background-color: #3fc1f3 !important;
    border-color: #933319;
}

.logo {
    width: 10rem;
}

.jumbotron {
    border-radius: 0;
}

.main-header {
    text-shadow: 2px 2px 10px #484848;
	font-family: 'Big Shoulders Text', cursive;

}

.jumbo-subhead {
    font-family: 'Raleway', sans-serif !important;
    text-shadow: 2px 2px 10px #484848;
    color: white;

}

.card-pic {
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

.card-text {
    font-family: 'Raleway';
    color: white;
}

.btn-outline-success {
    border-color: orange;
}

.btn-outline-success:hover {
    background-color: orange;
}

.lead-paragraph {
    /* margin: 10px 0; */
}