.header{
    font-family: 'Press Start 2P', cursive;
    z-index: 100;
    color: white;
}


.background{
    background-image: url("night.gif");
    background-repeat: repeat;
    background-color: #cccccc;
 
   
}


#counter{
    font-family: 'Press Start 2P', cursive;
    z-index: 100;
    color: whitesmoke;
}

.floatingimg{
    z-index: 100;
    position: absolute;
    width: 300px;
    left: 1000px;
    top: 300px;

}